<div class="parallax-container2">
<div class="parallax"><%= image_tag "http://www.sofiaquintero.com/wp-content/uploads/2014/08/o-EMPTY-CLASSROOM-facebook.jpg" %></div>


<div class="office">
  <h3>blog posts</h3>
  <% @entries.each do |entry| %>
  <ul>
    <li class="blog-title"><%= link_to "#{entry.title}", "/entries/#{entry.id}" %></li>
  </ul>
  <% end %>
</div>
</div>

<div class="home"><%= link_to 'home', root_path %></div>

<div class="admin">
  <%= link_to "admin", login_index_path %>
</div>

