<div class="about">about me</div>

<div class="photo">
  <%= image_tag "chicago2.jpg" %>
</div>

<div class="me">
  <p>As you probably already know, my name is Matt Beal and I currently reside in Norman, OK CHICAGO, IL. I am studying web devolpment at DevBootcamp and this site will be used to showcase not only the projects that I will be working on, but the progress that I make as I go through the curriculum. So feel free to take a look around, and if you have any questions or comments, hit the contact link.
**Also, this page is meant to be viewed in landscape. So, if you're reading this on a cell phone, trying rotating your screen. Once I figure out how to get it mobile compatible, I'll update it! :)</p>
</div>

<div class="quote">
  "So what world are we referring to that would 'let you be great'? I mean LET you be anything?<br> This life is the grind.. Seek and you shall find."--Damian Lillard
</div>

<div class="blog">




</div>