  <div class="parallax-container">
    <div class="parallax"><img src="http://1.bp.blogspot.com/-MMYkThgt_WA/Tmoe7Cpi2bI/AAAAAAAAAT0/a6VJl1EmADo/s1600/Black+and+White+Highway+Wp+long+goodbye.png"></div>
  </div>

  <div class="quote z-depth-3">
    "So what world are we referring to that would 'let you be great'? I mean LET you be anything?<br> This life is the grind.. Seek and you shall find."--Damian Lillard
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="https://puserscontentstorage.blob.core.windows.net/userimages/ce7802e3-4190-4ef1-a63f-9327380e17b6/635211708360193050_mood-book-pages-grass-hd-wallpaper.jpg"></div>
  </div>

  <div class="card z-depth-4">
    <div class="card-image waves-effect waves-block waves-light">
      <%= image_tag "chicago2.jpg", class: "activator" %>
    </div>
    <div class="card-content">
      <span class="card-title activator white-text text-darken-4">matt beal<i class="material-icons right">open</i></span>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">about me<i class="material-icons right">close</i></span>
      <p>As you probably already know, my name is Matt Beal and I currently reside in Norman, OK CHICAGO, IL. I am studying web devolpment at DevBootcamp and this site will be used to showcase not only the projects that I will be working on, but the progress that I make as I go through the curriculum. So feel free to take a look around, and if you have any questions or comments, hit the contact link.
    **Also, this page is meant to be viewed in landscape. So, if you're reading this on a cell phone, trying rotating your screen. Once I figure out how to get it mobile compatible, I'll update it! :)</p>
    </div>
  </div>