@import "materialize/components/color";
$primary-color: color("blue", "darken-3") !default;
@import "materialize";

@font-face {
  font-family: 'Corbert-Regular';
  src:url('/assets/fonts/Corbert_Reg/Corbert-Regular.otf') format("truetype");
  font-weight: normal;
  font-size: normal;
}



.about {
  background-color: #1d3549;
  width: 650px;
  height: 310px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  overflow: auto;
  padding-left: 3px;
}

.title {
  text-align: center
}

.about p {
  padding-left: 3px;
  padding-right: 3px;
}

.photo img {
  float: right;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 6px;
  border: 1px solid black;
}

.photo img {
  height: 200px;
  width: 300px;
}

/*.me {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}*/

.about p {
  padding-top: 10px;
}

.quote {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background-color: #1d3549;
  height: 200px;
  padding-top: 85px;
  padding-bottom: 2px;
  padding-right: 10px;
  text-align: right;
  font-size: 1.4em;
  font-weight: lighter;
  color: white;
}

.blog {
  height: 600px;

}


nav {
  position: fixed;
  border-bottom: 3px solid black;
  top: 0px;
}

.footer {
  margin-top: 41%;
  margin-left: 7px;
  height: 14px;
  width: 150px;
  padding-top: 75px;
  padding-bottom: 0px;
  padding-left: 4px;
  }

  .footer a {
    color: black;
    text-shadow: 0 0 8px;
    -moz-text-shadow: 0 0 8px;
    -webkit-text-shadow: 0 0 8px;
    font-weight: lighter;
  }

.card {
  height: 400px;
  width: 550px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 80px;
  background-color: #1d3549;
  color: white;
}

.card img {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.card-reveal {
  color: black;
}

.office {
  margin-top: 80px;
}

li {
  display: inline;
  padding-left: 5px;
}

li a {
  color: white;
  font-size: 1.6em;
  font-weight: lighter;
  text-shadow: 0 0 6px;
  -moz-text-shadow: 0 0 6px;
  -webkit-text-shadow: 0 0 6px;
  padding-left: 15px;
}

.links {
  width: 400px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 450px;
}

.home {
  width: 150px;
  margin-top: 8px;
  left: 2px;
  text-align: center;
}

.home a {
  padding-top: 4px;
  color: red;
  font-size: 2em;
  font-weight: lighter;
  text-shadow: 0 0 9px;
  -moz-text-shadow: 0 0 9px;
  -webkit-text-shadow: 0 0 9px;
}

.back {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.back a {
  padding-top: 4px;
  color: red;
  font-size: 2em;
  font-weight: lighter;
  text-shadow: 0 0 8px;
  -moz-text-shadow: 0 0 8px;
  -webkit-text-shadow: 0 0 8px;
}

.office {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.office h1 {
  color: black;
  text-shadow: 0 0 8px;
  -moz-text-shadow: 0 0 8px;
  -webkit-text-shadow: 0 0 8px;
  font-weight: lighter;
}

.office h3 {
  color: white;
  text-shadow: 0 0 8px;
  -moz-text-shadow: 0 0 8px;
  -webkit-text-shadow: 0 0 8px;
  font-weight: lighter;
}

.office h4 {
  color: black;
  text-shadow: 0 0 8px;
  -moz-text-shadow: 0 0 8px;
  -webkit-text-shadow: 0 0 8px;
  font-weight: lighter;
}

.blog-title a {
  color: red;
}

.contact {
  position: relative;
  display: none;
  width: 570px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2em;
  font-weight: lighter;
}

.sub {
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.sub a{
  color: white;
  text-shadow: 0 0 6px;
  -moz-text-shadow: 0 0 6px;
  -webkit-text-shadow: 0 0 600px;
}


.close {
  position: absolute;
  right: 2px;
  top: 13px;
}

.close a {
  color: white;
  text-shadow: 0 0 6px;
  -moz-text-shadow: 0 0 6px;
  -webkit-text-shadow: 0 0 6px;
}