<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="navwrapper">
      <a href="/" class="brand-logo">Home</a>

      <ul class="right hide-on-med-and-down">
        <li><a href="#">blog</a><li>
        <li><a href="#">resume</a><li>
        <li><a href="#">projects</a><li>
        <li><a href="#">contact</a><li>
      </ul>

      <ul id="slide-out" class="right side-nav">
        <li><a href="#">blog</a><li>
        <li><a href="#">resume</a><li>
        <li><a href="#">projects</a><li>
        <li><a href="#">contact</a><li>
      </ul>

      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>

  </nav>
    <%= yield %>

</body>
</html>
